
<footer>

  <div class="footer-container">

    <div class="footer-content">

      <div class="logo-div">
        <mat-icon class="brand-icon logo-icon">terrain</mat-icon>
        <span class="brand-name">Spruce Tours</span>
      </div>

      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>

      <div>
        Aliquam at lacus condimentum, malesuada massa a,
        suscipit nibh. Cras sed laoreet sapien. Suspendisse facilisis porttitor augue, sit amet pretium orci pulvinar
        ultricies. Cras venenatis fringilla tortor, non maximus lectus convallis auctor.

      </div>

      <div class="socials">

        <a href="#"><fa-icon style="font-size: 2.2rem; color: #252525" [icon]="fb" class='icon fb'></fa-icon></a>
        <a href="#"><fa-icon style="font-size: 2.2rem; color: #252525" [icon]="yt" class="icon yt"></fa-icon></a>
        <a href="#"><fa-icon style="font-size: 2.2rem; color: #252525" [icon]="ig" class="icon ig"></fa-icon></a>
        <a href="#"><fa-icon style="font-size: 2.2rem; color: #252525" [icon]="tw"class="icon tw"></fa-icon></a>

      </div>

      <div class="copyright">Copyright &copy;2022 SpruceTours</div>

    </div>

  </div>

</footer>
