<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="start-container">

  <div class="text-box">

    <div class="header">Enjoy the difference</div>

    <div class = "text-field1 text-field">

      <div class = "text-field-header">What we do?</div>

      <div class="text">
        Nunc ut odio purus. Nulla sit amet metus ac justo sodales bibendum. Class aptent taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi aliquet ornare
        lacus, vel pharetra magna. Sed posuere magna non dignissim cursus. Sed nibh.
      </div>

    </div>


    <div class = "text-field2 text-field">

      <div class = "text-field-header">About us...</div>

      <div class="text">

        Etiam non lacus augue. Morbi eu urna eros. Pellentesque interdum molestie libero sed condimentum.
        Donec a dictum mauris. Duis elementum sem id neque imperdiet consectetur. Pellentesque viverra cursus
        magna sed faucibus. Quisque lectus nisi, interdum eu est at, lacinia maximus leo. Nulla facilisi. Donec
        mattis sollicitudin sollicitudin. Nulla facilisi.

      </div>

    </div>

    <div class = "text-field3 text-field">

      <div class = "text-field-header">Work culture</div>

      <div class="text">

        Nam mattis pretium fermentum. Morbi aliquet ipsum sapien, gravida tellus ullamcorper eget.
        Suspendisse gravida venenatis velit cursus. Nunc venenatis urna vitae turpis vestibulum hendrerit.
        Sed eleifend nisi, convallis felis iaculis. In habitasse platea dictumst. Ut magna.
        Mauris vehicula nisi ipsum, placerat dapibus dolor fringilla. Interdum malesuada fames ante ipsum
        primis faucibus. Pellentesque malesuada massa ipsum posuere, vitae tristique magna pulvinar.
        Sed vestibulum vulputate elit, eget vulputate pretium.

      </div>

    </div>


    <div class="text-field4 text-field">

      <div class = "text-field-header">Our team</div>

      <div class="text">

        Suspendisse dolor ipsum, vestibulum eu interdum sit amet, pellentesque quis enim.
        In gravida odio a nisi ultricies mattis ac non.

      </div>

    </div>

    <div class="text-field5 text-field">

      <div class = "text-field-header">Contact Us</div>

      <div class="text">

        Donec cursus mauris quis luctus sodales. Donec placerat sem at accumsan dapibus. Morbi ut est eu mi
        ullamcorper aliquet vitae at orci. Ut tempor ex in odio convallis, elementum dignissim nisi commodo.


      </div>

    </div>

    <div class="contact-div text-field6 text-field">


      <div class="address-div tile">

        <div class = "icon-class el0"><mat-icon class="icon"> location_on</mat-icon></div>

        <div class="contact-info-name el1">Address:</div>
        <div class="contact-info el2">
          (240) 375-1288
          1105 Aztec Rd <br>
          North Pole, Alaska(AK), 99705
        </div>

      </div>

      <div class="email-div tile">

        <div class = "icon-class el0"><mat-icon class="icon">alternate_email</mat-icon></div>

        <div class="contact-info-name el1">Email:</div>
        <div class="contact-info el2"></div>spruce.tours@gmail.com, <br>
        best.tours@gmail.com

      </div>

      <div class="phone-div tile">

        <div class = "icon-class el0"><mat-icon class="icon"> phone</mat-icon></div>
        <div class="contact-info-name el1">Call us:</div>
        <div class="contact-info el2"></div>202-555-0153, <br>
        202-535-2353

      </div>


    </div>


<!--    <div class="contact-div text-field7 text-field location">-->

<!--      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15841.464623807322!2d-147.3668408160-->
<!--      1896!3d64.75542018709028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x51324d44c594b837%3A0x9e5b846fdd36ebc0!2sTaco%20Bell!5e0!3m2!1sen!2spl!4v1670946971630!5m2!1sen!2spl" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->

<!--    </div>-->



<!--    <div class="img-div text-field text-field7">-->
<!--      <img src="http://drive.google.com/uc?export=view&id=1SQnMCn9pC0HD3WRQQOvnuHRUWA85IEh3" class="map">-->
<!--    </div>-->

  </div>




  <div class="circle-box">

    <figure class="circle circle1"></figure>
    <figure class="circle circle2"></figure>
<!--    <figure class="circle circle3"></figure>-->

  </div>

  <div class="tree-box">

<!--    <div class="tree1 tree">-->
<!--      <img src="http://drive.google.com/uc?export=view&id=1QCGXcBqAx1E38BBELsuxNQeRzZMS9FdL" class="tree-img">-->
<!--    </div>-->

<!--    <div class="tree2 tree">-->
<!--      <img src="http://drive.google.com/uc?export=view&id=1tvBS0XwrUzBdapRepUUHUUEBafFxdqDe" class="tree-img">-->
<!--    </div>-->

    <div class="tree3 tree">
<!--      <img src="http://drive.google.com/uc?export=view&id=1mM_svUAOhy-JH4Touj_nD6J78vjkCouK">-->
    </div>


  </div>

</div>

<app-map></app-map>

